* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
  }  


#container {
    background-color: #171d32;
    padding: 40px 80px;
    color: #FFFFFF;
    .main-page {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            h2 {
                font-size: 20px;
            }
            .nav-items {
                font-size: 16px;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                list-style: none;
                /* width: 400px; */
                gap: 30px;
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        .mainPageContent{
            margin-top: 120px;
            display: flex;
            justify-content: space-between;
            .details {
                padding-left: 10px;
                width: 50%;
                h1 {
                    font-size: 60px;
                }
                p {
                    font-size: 20px;
                }
                .contactBtn{
                    border: none;
                    margin-top: 30px;
                    border-radius: 20px;
                    padding: 10px 18px;
                    font-size: 19px;
                    background-color: #465697;
                    color: #FFFFFF;
                    transition: transform 0.7s ease;
                    font-weight: 600;
                }
                .contactBtn:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .imgContainer {
                width: 100%;
                max-width: 400px;
                img {
                    width: 100%;
                    height: auto;
                    transition: transform 0.7s ease;
                    border-radius: 20px;
                }
                img:hover {
                    transform: scale(1.05) translateX(-200px) ;
                }
            }
            
            
        }
    } 

    .about-page-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .about-page {
            height: 80vh;
            width: 100%;
            background-color: #020617;
            border-radius: 20px;
            padding: 60px 0px;
            display: flex;
            justify-content: center;
            .about-content {
                width: 65%;
                h1 {
                    font-size: 38px;
                }
                .experience {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    .about-img {
                        width: 100%;
                        max-width: 220px;
                        img {
                            width: 100%;
                            height: auto;
                            transition: transform 0.7s ease;
                            border-radius: 20px;
                        }
                        img:hover {
                            transform: scale(1.05) ;
                        }
                    }
                    .data {
                        max-width: 60%;
                        width: 100%;
                        .animated-list {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }

                        .list-item {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            transition: color 0.3s ease;
                            position: relative;
                        }

                        .arrow {
                            transform: translateX(-8px);
                            // opacity: 0;
                            transition: all 0.3s ease;
                            color: #ffffff; /* Optional: blue arrow */
                        }

                        .list-item:hover .arrow {
                            transform: translateX(0);
                            opacity: 1;
                        }

                        .list-item:hover .text {
                        color: #007bff;
                        }
                        
                    }
                }
                
            }
           
        }  
    }
    
    .experience-page {
        min-height: 100vh;
        padding: 50px 60px;
        h1 {
            font-size: 38px;
        }
        .experience-content {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            // height: 80vh;
            .icons {
                width: 100%;
                max-width: 400px;
                height: 20%;
                // background-color: #465697;
                display: flex;
                gap: 30px;
                margin-top: 100px;
                flex-wrap: wrap;
                span {
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    background-color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 18px;
                }
            }
            .data {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 600px;
                width: 100%;
                height: 600px;
                .data-container {
                    padding: 10px;
                    border-radius: 18px;
                    background-color: #020617;
                    h2, h3, h4 {
                        font-weight: 400;
                    }
                    h2{
                      font-size: 16px;
                    }
                    h3{
                        font-size: 14px;
                    }
                    h4{
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    ul {
                        // li::before {
                        //     content: "– ";
                        // }
                        li {
                            margin-bottom: 5px;
                            font-size: 13px;
                            margin-left: 10px;
                            // list-style-type: none;
                        } 
                    }
                }
            }
        }
        
    }

    .project-page {
        min-height: 100vh;
        padding: 30px 50px;
        .project-cards {
            padding: 40px 30px;
            display: flex;
            justify-content: space-between;
            .project-card { 
                width: 27%;
                height: auto;
                background-color: #020617;
                padding: 30px 20px;
                border-radius: 18px;
                .project-name {
                    margin: 10px 0px;
                    font-size: 25px;
                }
                p {
                    margin-bottom: 40px;
                    font-size: 15px;
                }
                .card-img-container {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 130px;
                        transition: transform 0.7s ease;
                        border-radius: 20px;
                    }
                    img:hover {
                        transform: scale(1.05) ;
                    }
                }
                p {
                    min-height: 120px;
                }
                .project-btns {
                    display: flex;
                    justify-content: space-between;
                    .project-btn {
                        border: none;
                        margin-top: 30px;
                        border-radius: 20px;
                        padding: 10px 18px;
                        font-size: 19px;
                        background-color: #465697;
                        color: #FFFFFF;
                        transition: transform 0.7s ease;
                        a {
                            text-decoration: none;
                            color: #FFFFFF;
                        }
                    }
                }
                
            }
        }
    }
    
}
.contact-container {
    width: 100%;
    height: 180px;
    background-color: rgb(70 86 151);
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 240px;
    .contact-content {
        h1 {
            font-size: 3.75rem;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .social-accounts {
      list-style: none;
      font-size: 1.2rem;
      li {
        span {
            margin-left: 5px;
            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
      }
    }
    
}

