* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
  }  


#container {
    background-color: #171d32;
    padding: 40px 80px;
    color: #FFFFFF;
    .main-page {
        /* color: #FFFFFF; */
        /* height: 100vh; */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            h2 {
                font-size: 20px;
            }
            .nav-items {
                font-size: 16px;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                list-style: none;
                /* width: 400px; */
                gap: 30px;
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        .mainPageContent{
            margin-top: 120px;
            display: flex;
            justify-content: space-between;
            .details {
                padding-left: 10px;
                width: 35%;
                h1 {
                    font-size: 60px;
                }
                p {
                    font-size: 22px;
                }
                .contactBtn{
                    border: none;
                    margin-top: 30px;
                    border-radius: 20px;
                    padding: 10px 18px;
                    font-size: 19px;
                    background-color: #465697;
                    color: #FFFFFF;
                    transition: transform 0.7s ease;
                    font-weight: 600;
                }
                .contactBtn:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .imgContainer {
                width: 100%;
                max-width: 400px;
                img {
                    width: 100%;
                    height: auto;
                    transition: transform 0.7s ease;
                    border-radius: 20px;
                }
                img:hover {
                    transform: scale(1.05) translateX(-200px) ;
                }
            }
            
            
        }
    } 

    .about-page-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .about-page {
            height: 80vh;
            width: 100%;
            background-color: #020617;
            border-radius: 20px;
            padding: 60px 0px;
            display: flex;
            justify-content: center;
            .about-content {
                width: 65%;
                h1 {
                    font-size: 38px;
                }
                .experience {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    .about-img {
                        width: 100%;
                        max-width: 220px;
                        img {
                            width: 100%;
                            height: auto;
                            transition: transform 0.7s ease;
                            border-radius: 20px;
                        }
                        img:hover {
                            transform: scale(1.05) ;
                        }
                    }
                    .data {
                        max-width: 60%;
                        width: 100%;
                    }
                }
                
            }
           
        }  
    }
    
    .experience-page {
        height: 100vh;
        padding: 50px 60px;
        h1 {
            font-size: 38px;
        }
        .experience-content {
            margin-top: 30px;
            display: flex;
            justify-content: space-evenly;
            .data {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 500px;
                .data-container {
                    width: 600px;
                    height: 150px;
                    background-color: #020617;
                }
            }
        }
        
    }

    .project-page {
        height: 100vh;
        padding: 30px 50px;
        .project-cards {
            padding: 40px 30px;
            .project-card { 
                width: 27%;
                height: auto;
                background-color: #020617;
                padding: 30px 20px;
                border-radius: 18px;
                .project-name {
                    margin: 10px 0px;
                    font-size: 25px;
                }
                p {
                    margin-bottom: 40px;
                    font-size: 15px;
                }
                .card-img-container {
                    width: 100%;
                    max-width: 150px;
                    img {
                        width: 100%;
                        height: auto;
                        transition: transform 0.7s ease;
                        border-radius: 20px;
                    }
                    img:hover {
                        transform: scale(1.05) ;
                    }
                }
                .project-btns {
                    display: flex;
                    justify-content: space-between;
                    .project-btn {
                        border: none;
                        margin-top: 30px;
                        border-radius: 20px;
                        padding: 10px 18px;
                        font-size: 19px;
                        background-color: #465697;
                        color: #FFFFFF;
                        transition: transform 0.7s ease;
                    }
                }
                
            }
        }
    }
    
}
.contact-container {
    width: 100%;
    height: 180px;
    background-color: rgb(70 86 151);
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 240px;
    .contact-content {
        h1 {
            font-size: 3.75rem;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .social-accounts {
      list-style: none;
      font-size: 1.2rem;
      li {
        span {
            margin-left: 5px;
        }
      }
    }
    
}

